# pandas
# streamlit
# anthropic
# python-dotenv
# openpyxl
# pillow==11.1.0
# bcrypt
# streamlit-authenticator

fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
bcrypt
python-dotenv
requests