# pandas
# streamlit
# anthropic
# python-dotenv
# openpyxl
# pillow==11.1.0
# bcrypt
# streamlit-authenticator

pandas
streamlit==1.41.0
anthropic
python-dotenv
openpyxl
bcrypt
streamlit-authenticator
requests
streamlit-cookies-manager